*{
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    perspective: 10em;
    background-image: conic-gradient(from 54deg, #c65858 256deg 180deg, #4a3c3c 180deg 360deg);
    font-family: 'Mountains of Christmas', cursive;
}

.wallpaper {
    position: relative;
    top: -0.4em;
    left: 1.2em;
    width: 5.5em;
    height: 3.5em;
    background: url(/img/christmas-126568eb013637bf06a0e363ca6343c38a862f.webp);
    background-size: cover;
}

.santa {
    position: relative;
    transform-style: preserve-3d;
}

.floor {
    position: absolute;
    top: 3.1em;
    left: -2.3em;
    width: 9.1em;
    height:13em;
    transform: translate(-40%, -50%)
    rotateX(90deg);
    background-color: #111;
    background-image: repeating-conic-gradient(from 45deg, rgb(239, 229, 229) 0deg 90deg, rgb(243, 7, 7) 90deg 180deg);
    background-size: 1em 1em;
}

.instructions {
    width: 3em;
    position: absolute;
    left: -2.2em;
    top: 1em;
    animation: instructions 10s;
    
}

span {
    animation: span 1.5s;
    animation-delay: 3.1s;
}

.merry {
    position: absolute;
    top: -0.5em;
    left: -5.8em;
    font-size: 0.7em;
    opacity: 0;
    border: 4px solid white;
    
}


.gift {
    width: 2em;
    height: 2em;
    position: relative;
    left: -2.5em;
    z-index:-1;
    transform-style: preserve-3d;
    animation: rotate 10s linear infinite;
    
    
}

.gift__side {
    position: absolute;
    width: 2em;
    height: 2em;
    background-image: url("/img/cf678c6c-6f8a-43b7-9a8f-c169ad731619.c0a0d3986a0bbc0414c4afc70c03aead.webp");
    border-radius: 8px;
    
}

.gift-wrapper:hover .gift {
    animation: disapear 10s;
    
}

.gift-wrapper:hover .merry {
    animation: merry 10s;
    animation-delay: 3s;
    
}


.gift__side--front  {
    transform: rotateY(  0deg) translateZ(1em);
}
.gift__side--right  { 
    transform: rotateY( 90deg) translateZ(1em); 
}
.gift__side--back   { 
    transform: rotateY(180deg) translateZ(1em);
}
.gift__side--left   { 
    transform: rotateY(-90deg) translateZ(1em); 
}
.gift__side--top    { 
    transform: rotateX( 90deg) translateZ(1em);
}
.gift__side--bottom { 
    transform: rotateX(-90deg) translateZ(1em);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        
    }

     100% {
        transform: rotate(360deg) rotateX(360deg);
        
    }
}



@keyframes merry {
    
    40% {
        opacity: 1;
        color: red;
    }
    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes disapear {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    50% {
        opacity: 0;
        
    }

    100% {
        opacity: 0;
        transform: rotate(360deg) rotateX(360deg);
    }

    
}

@keyframes instructions {
    0% {
        top: 1em;
    }


    100% {
        top: -11em;
    }
}

@keyframes span {
    0% {
        color: black;
    }

    50% {
        color: red;
    }
    100% {
        color: black;
    }
}

